<html>
<style type="text/css">
    .variable {
      color: red;
      font-weight: strong;
      font-family: courier;
    }
    .section_heading {
      background-color: #DEDFDE;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
</style>
<body>
  <table border="1" style="width: 100%; border: 1px #DEDFDE solid;" cellspacing="0" cellpadding="2">
    <tr>
      <td colspan="8" style="text-align: center;"><strong>National Department of Health: Malaria Elimination Programme</strong></td>
    </tr>
    <tr>
      <td colspan="8" style="text-align: center;"><strong>Malaria Case Investigators Report</strong></td>
    </tr>
    <tr>
      <th>Province</th>
      <th>No. of Cases</th>
      <th>Male</th>
      <th>Female</th>
    </tr>
    {% for province in provinces %}
        <tr>
          <td>{{province.province}}</td>
          <td>{{province.cases}}</td>
          <td>{{province.males}}</td>
          <td>{{province.females}}</td>
        </tr>
    {% endfor %}
  </table>
</body>
</html>
