<html>
<style type="text/css">
    .variable {
      color: red;
      font-weight: strong;
      font-family: courier;
    }
    .section_heading {
      background-color: #DEDFDE;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
</style>
<body>
  <table border="1" style="width: 100%; border: 1px #DEDFDE solid;" cellspacing="0" cellpadding="2">
    <tr>
      <td colspan="14" style="text-align: center;"><strong>National Department of Health: Malaria Elimination Programme</strong></td>
    </tr>
    <tr>
      <td colspan="14" style="text-align: center;"><strong>MalariaConnect Summary</strong></td>
    </tr>
    <tr>
      <td colspan="14" style="text-align: center;"><strong>{{week}}</strong></td>
    </tr>
    <tr>
      <td colspan="7" style="text-align: center;"></td>
      <td colspan="7" style="text-align: center;"><strong>International Travel History</strong></td>
    </tr>
    <tr>
      <th>Province</th>
      <th>District</th>
      <th>No. of Cases</th>
      <th>Male</th>
      <th>Female</th>
      <th>Under 5</th>
      <th>Over 5</th>
      <th>No international travel</th>
      <th>Somalia</th>
      <th>Ethiopia</th>
      <th>Mozambique</th>
      <th>Zambia</th>
      <th>Zimbabwe</th>
      <th>Other</th>
    </tr>
    {% for province in provinces %}
      {% if province.cases %}
        <tr>
          <td>{{province.province}}</td>
          <td style="text-align: right;">{{province.district}}</td>
          <td style="text-align: right;">{{province.cases}}</td>
          <td style="text-align: right;">{{province.males}}</td>
          <td style="text-align: right;">{{province.females}}</td>
          <td style="text-align: right;">{{province.under5}}</td>
          <td style="text-align: right;">{{province.over5}}</td>
          <td style="text-align: right;">{{province.no_international_travel}}</td>
          <td style="text-align: right;">{{province.somalia}}</td>
          <td style="text-align: right;">{{province.ethiopia}}</td>
          <td style="text-align: right;">{{province.mozambique}}</td>
          <td style="text-align: right;">{{province.zambia}}</td>
          <td style="text-align: right;">{{province.zimbabwe}}</td>
          <td style="text-align: right;">{{province.other}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td colspan="2"><strong>Total</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_cases}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_males}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_females}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_under5}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_over5}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_no_international_travel}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_somalia}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_ethiopia}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_mozambique}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_zambia}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_zimbabwe}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_other}}</strong></td>
    </tr>
  </table>
</body>
</html>
