{% load staticfiles %}<html>
<style type="text/css">
    .variable {
      color: red;
      font-weight: strong;
      font-family: courier;
    }
    .section_heading {
      background-color: #DEDFDE;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
</style>
<body>
  <table border="1" style="width: 100%; border: 1px #DEDFDE solid;" cellspacing="0" cellpadding="2">
    <tr>
      <td colspan="12" style="text-align: center;"><strong>National Department of Health: Malaria Elimination Programme</strong></td>
    </tr>
    <tr>
      <td colspan="12" style="text-align: center;"><strong>Malaria Case Investigators Report</strong></td>
    </tr>
    <tr>
      <td colspan="4" style="width: 33%">Case Number: </td>
      <td colspan="4" style="width: 33%; text-align: center;"><img style="width: 10em;margin-left: auto; margin-right:auto;" src="http://{{site.domain}}{% static "ona/img/logo.png" %}"/></td>
      <td colspan="4" style="width: 33%">Date Form Received for data capturing:</td>
    </tr>
    <tr>
      <td colspan="4" style="width: 33%">MalariaConnect Case Number: <span class="variable"><strong>{{case.case_number}}</strong></span></td>
      <td colspan="4"></td>
      <td colspan="4" style="width: 33%">Date MalariaConnect Report received: <span class="variable"><strong>{{case.create_date_time}}</strong></span</td>
    </tr>
    <tr>
      <td colspan="12" class="section_heading">Section A: General information on case to be investigated</td>
    </tr>
    <tr>
      <td colspan="6">Patient's Name: <span class="variable"><strong>{{case.first_name}}</strong></span></td>
      <td colspan="6">Surname: <span class="variable"><strong>{{case.last_name}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="4">Age: <span class="variable"><strong>{{case.age}}</strong></span></td>
      <td colspan="4">Date of birth: <span class="variable"><strong>{{case.date_of_birth}}</strong></span></td>
      <td colspan="4">Gender: <span class="variable"><strong>{{case.gender}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="6">Reporting Health Facility: <span class="variable"><strong>{{case.facility_names}}</strong></span></td>
      <td colspan="6">Facility Code: <span class="variable"><strong>{{case.facility_code}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="6">Province: <span class="variable"><strong>{{case.provinces}}</strong></span></td>
      <td colspan="6">District: <span class="variable"><strong>{{case.districts}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="12">South African ID: <span class="variable"><strong>{{case.sa_id_number}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="12" class="section_heading">Section B: Case Investigator Detail &amp; Investigation Address</td>
    </tr>
    <tr>
      <td colspan="6">Name of EHP:</td>
      <td colspan="6">Name of Case Investigator:</td>
    </tr>
    <tr>
      <td colspan="12">Landmark nearby patient's residential address:</td>
    </tr>
    <tr>
      <td colspan="12"><span class="variable"><strong>{{case.landmark}} / {{case.landmark_description}}</strong><span></td>
    </tr>
    <tr>
      <td colspan="6">Locality / village: <span class="variable"><strong>{{case.locality}}</strong></span></td>
      <td colspan="6">Municipality: <span class="variable"><strong>{{case.subdistricts}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="6">District: <span class="variable"><strong>{{case.districts}}</strong></span></td>
      <td colspan="6">Patient's contact number: <span class="variable"><strong>{{case.msisdn}}</strong></span></td>
    </tr>
    <tr>
      <td colspan="12">Source of case investigation information: <span class="variable"><strong>MalariaConnect</strong></span></td>
    </tr>
    <tr>
      <td colspan="12">Where did the patient travel 21 days before falling ill? <span class="variable"><strong>{{case.abroad}}</strong></span></td>
    </tr>

  </table>
</body>
</html>
