<html>
<style type="text/css">
    .variable {
      color: red;
      font-weight: strong;
      font-family: courier;
    }
    .section_heading {
      background-color: #DEDFDE;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
</style>
<body>
  <table border="1" style="width: 100%; border: 1px #DEDFDE solid;" cellspacing="0" cellpadding="2">
    <tr>
      <td colspan="8" style="text-align: center;"><strong>National Department of Health: Malaria Elimination Programme</strong></td>
    </tr>
    <tr>
      <td colspan="8" style="text-align: center;"><strong>MalariaConnect Summary</strong></td>
    </tr>
    <tr>
      <td colspan="8" style="text-align: center;"><strong>{{week}}</strong></td>
    </tr>
    <tr>
      <th>Facility</th>
      <th>No. of Cases</th>
      <th>Male</th>
      <th>Female</th>
      <th>Under 5</th>
      <th>Over 5</th>
    </tr>
    {% for facility in facility %}
      <tr>
        <td><strong>{{facility.facility}}</strong></td>
        <td style="text-align: right;"><strong>{{facility.cases}}</strong></td>
        <td style="text-align: right;"><strong>{{facility.males}}</strong></td>
        <td style="text-align: right;"><strong>{{facility.females}}</strong></td>
        <td style="text-align: right;"><strong>{{facility.under5}}</strong></td>
        <td style="text-align: right;"><strong>{{facility.over5}}</strong></td>
      </tr>
    {% endfor %}
    <tr>
      <td><strong>Total</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_cases}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_males}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_females}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_under5}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_over5}}</strong></td>
    </tr>
  </table>
</body>
</html>
