<html>
<style type="text/css">
    .variable {
      color: red;
      font-weight: strong;
      font-family: courier;
    }
    .section_heading {
      background-color: #DEDFDE;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
</style>
<body>
  <table border="1" style="width: 100%; border: 1px #DEDFDE solid;" cellspacing="0" cellpadding="2">
    <tr>
      <td colspan="15" style="text-align: center;"><strong>National Department of Health: Malaria Elimination Programme</strong></td>
    </tr>
    <tr>
      <td colspan="15" style="text-align: center;"><strong>MalariaConnect Summary</strong></td>
    </tr>
    <tr>
      <td colspan="15" style="text-align: center;"><strong>{{week}}</strong></td>
    </tr>
    <tr>
      <td colspan="7" style="text-align: center;"></td>
      <td colspan="7" style="text-align: center;"><strong>International Travel History</strong></td>
    </tr>
    <tr>
      <th style="width: 11%;">Facility</th>
      <th style="width: 11%;">District</th>
      <th style="width: 6.5%;">All Cases</th>
      <th style="width: 6.5%;">Male</th>
      <th style="width: 6.5%;">Female</th>
      <th style="width: 6.5%;">Under 5</th>
      <th style="width: 6.5%;">Over 5</th>
      <th style="width: 6.5%;">No intl travel</th>
      <th style="width: 6.5%;">Somalia</th>
      <th style="width: 6.5%;">Ethiopia</th>
      <th style="width: 6.5%;">Moz</th>
      <th style="width: 6.5%;">Zambia</th>
      <th style="width: 6.5%;">Zimbabwe</th>
      <th style="width: 6.5%;">Other</th>
    </tr>
    {% for facility in facility %}
      {% if facility.cases %}
        <tr>
          <td><strong>{{facility.facility}}</strong></td>
          <td style="text-align: right;"><strong>{{facility.district}}</strong></td>
          <td style="text-align: right;"><strong>{{facility.cases}}</strong></td>
          <td style="text-align: right;"><strong>{{facility.males}}</strong></td>
          <td style="text-align: right;"><strong>{{facility.females}}</strong></td>
          <td style="text-align: right;"><strong>{{facility.under5}}</strong></td>
          <td style="text-align: right;"><strong>{{facility.over5}}</strong></td>


          <td style="text-align: right;">{{facility.no_international_travel}}</td>
          <td style="text-align: right;">{{facility.somalia}}</td>
          <td style="text-align: right;">{{facility.ethiopia}}</td>
          <td style="text-align: right;">{{facility.mozambique}}</td>
          <td style="text-align: right;">{{facility.zambia}}</td>
          <td style="text-align: right;">{{facility.zimbabwe}}</td>
          <td style="text-align: right;">{{facility.other}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td colspan="2"><strong>Total</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_cases}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_males}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_females}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_under5}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_over5}}</strong></td>

      <td style="text-align: right;"><strong>{{totals.total_no_international_travel}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_somalia}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_ethiopia}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_mozambique}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_zambia}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_zimbabwe}}</strong></td>
      <td style="text-align: right;"><strong>{{totals.total_other}}</strong></td>

    </tr>
  </table>
</body>
</html>
