Django>3,<4.0
django-compressor
django-taggit
celery>=5.2.2
redis
go-http
djangorestframework
pyOpenSSL
ndg-httpsclient
requests
importlib-metadata<4.3
dj-database-url
raven
pdfkit
django-modelcluster
psycopg2-binary
